@model IEnumerable<TaskDto>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Is Completed</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.OrderBy(task => task.DueDate))    
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.IsCompleted</td>
                <td>@task.DueDate</td>
                <td>@task.Priority</td>
                <td>
                    <a asp-action="TaskUpdate" asp-route-id="@task.Id" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="TaskDelete" asp-route-id="@task.Id" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
